/*---DEFAULT---*/
* {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    scroll-behavior: smooth;
    font-family: "Average Sans", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

li {
    list-style-type: none;
    display: block;
}

content {
    display: flex;
}

.left-scroll-container {
    width: 24vw;
    height: 100vh;
    overflow-y: scroll;
}

.right-scroll-container {
    width: 76vw;
    height: 100vh;
    overflow-y: scroll;
}

.left-scroll-container::-webkit-scrollbar {
    display: none;
}

/*---HEADER---*/

.first-column {
    width: 3rem;
    margin-left: 2rem;
}

.second-column {
    width: 19rem;
    margin-right: 1rem;
}

.third-column {
    width: 36rem;
}

.header-div {
    margin: 1rem 0 2rem 0;
}

#myName:hover {
    cursor: default;
}

#designField:hover {
    cursor: default;
}


/*---LIST---*/



li {
    margin-bottom: 1rem;
}

details>summary {
    list-style-type: none;
    margin-bottom: 1rem;
}

summary::-webkit-details-marker {
    display: none;
}

details>p {
    margin-left: 2rem;
    text-wrap: wrap;
}

summary:hover {
    color: blue;
    cursor: pointer;
}

.content-div {
    display: flex;
}

/*---IMAGE----*/

#imgView {
    float: right;
    overflow-y: scroll;
}

#imgView::-webkit-scrollbar {
    display: none;
}

.slideshow-container:hover {
    cursor: e-resize;
}


.slideshow-container {
    margin-bottom: 2rem;
}

.slideshow-container img {
    width: 60rem;
}


/*---About---*/

#title {
    padding-left: 4.2rem;
}

#description {
    padding-left: 2rem;
    font-size: .8rem;
    line-height: 1.2rem;
    margin-bottom: 2rem;
    word-break: keep-all;
}

#description a {
    font-size: .8rem;
}

/*---RESPONSIVE---*/

@media only screen and (max-width: 600px) {

    * {
        font-size: .8rem;
        line-height: 1.2;
        text-align: center;
    }


    .list-container{
        height: 1rem;
        display: none;
    }


    .header-div{
        width: 100%;
    }

    .first-column{
        display: none;
    }

    .second-column{
        margin-left: 2rem;
        width: 20%;
    }

    .fourth-column{
        margin-right: 2rem;
    }


    #imgView{
        margin-right: 2rem;
        margin-left: 2rem;
    }

    .slideshow-container img {
        width: 100%;
    }

}
